
.success-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    background:rgba(0,0,0,0.6); /* dark layer over image */
    
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.success-box{
    background:white;
    padding:40px 60px;
    border-radius:15px;
    text-align:center;
}

.check{
    font-size:60px;
    color:green;
    margin-bottom:10px;
}