* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background: #f7f8fa;
}

.wrapper {
  display: flex;
  height: 100vh;
}

/* LEFT IMAGE */
.left {
  width: 55%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT FORM */
.right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.form-box {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

/* LOGO */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 15px;
}

.logo span {
  font-size: 22px;
  font-weight: 600;
}

/* TITLE */
h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

/* TABS */
.tabs {
  display: flex;
  background: #f0f0f0;
  border-radius: 25px;
  padding: 4px;
  margin-bottom: 20px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.25s ease;
  font-weight: 500;
}

/* ACTIVE TAB */
.tab.active {
  background: #ffffff;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.1);
}


/* INPUTS */
form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 12px;
  background: #cfd6df;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background: #bfc7d2;
}

/* LINK */
.link {
  margin-top: 15px;
  font-size: 14px;
}

.link a {
  color: #6c63ff;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 40vh;
  }

  .right {
    width: 100%;
  }
}



/* home---style---------------------------------------------------------------- */


